<div class="home-header">
    <div class="container header-container">
        <h1 class="title">Welcome Anglers!</h1>
        <p class="page-description">We'll keep track of the fish you catch and how you catch them. Now you don't have to remember what worked last time.</p>
    </div>
</div>

<div class="container main-container">
    <a href="/new-catch" class="log-link btn">Log A Catch</a>
    <a href="/view-caught-fish" class="view-link btn">View Caught Fish</a>
</div>

<script src="./assets/js/script.js"></script>