<div class="main login-main add-main">
    <h1>Log In</h1>
    <form class="login-form" id="login-form">
        <input type="text" name="username" id="login-username" class="form-input" placeholder="Username">
        <input type="password" name="password" id="login-password" class="form-input" placeholder="Password">
        <input type="submit" class="btn submit-btn">
        <a href="/signup" class="header-link login-link">Sign Up Instead</a>
    </form>
</div>
<script src="/assets/js/login.js"></script>