<div class="main signup-main add-main">
    <h1>Sign Up</h1>
    <form class="login-form" id="signup-form">
        <input type="text" name="username" id="signup-username" class="form-input" placeholder="Username">
        <input type="email" name="email" id="signup-email" class="form-input" placeholder="Email">
        <input type="password" name="password" id="signup-password" class="form-input" placeholder="Password">
        <input type="submit" class="btn submit-btn">
        <a href="/login" class="header-link login-link">Log In Instead</a>
    </form>
</div>
<script src="/assets/js/signup.js"></script>