:root {
    --primary-font: 'Merriweather', serif;
    --secondary-font: 'Ubuntu', sans-serif;
    --primary-color: #5C755E;
    --secondary-color: #F7DCB4;
    --tertiary-color: #9C9F84;
    --quaternary-color: #9C9F84;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body, html {
    height: 100%;
    font-size: 18px;
    overflow: visible;
    background-color: var(--secondary-color);
}

.main-header {
    position: sticky;
    top: 0;
    min-height: 10vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 3;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.header-link {
    margin: 0 1rem;
}

/* Homepage Styling */
.home-header {
    height: 50vh;
    margin: 0;
    padding: 5vh 0 0 0;
    background-image: url('../images/home-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 8px solid var(--tertiary-color);
}

.header-container {
    text-align: center;
    backdrop-filter: blur(81.5485px);
    -webkit-backdrop-filter: blur(81.5485px);
    border-radius: 8px;
    margin: 0 6rem;
    padding: 0 1rem;
}

.title, .page-description {
    color: #f4f4f4;
    text-shadow: 0 0 5px black;
}

.title {
    box-sizing: border-box;
    font-size: 4rem;
    font-family: var(--secondary-font);
    padding-top: 3vh;
}

.page-description {
    font-family: var(--primary-font);
    font-style: italic;
    font-size: 1.2rem;
    padding: 1.5rem 0;
}

.main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.btn {
    text-align: center;
    vertical-align: center;
    background-color: var(--primary-color);
    margin: 2rem;
    padding: 40px 125px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
}

.btn:hover {
    background-color: var(--quaternary-color);
    box-shadow: 2px 2px 2px black;
}

.log-link, .view-link {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 2rem;
}
/* End Homepage Styling */

/* Add Catch Styling */
.header-link {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 2rem;
    text-shadow: 3px 3px 3px black;
}

.header-link:hover {
    text-shadow: none;
}

.home-header-link {
    position: fixed;
    top: 1rem;
    left: 2rem;
}

.view-header-link {
    position: fixed;
    top: 1rem; 
    right: 2rem;
}

.add-main, .view-main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-main h1, .filter-title, .display-title {
    margin: 1.5rem 0;
}

.add-catch-form, #filter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    background-color: var(--tertiary-color);
    padding: 3vh 10vw;
    border-radius: 20px;
}

#filter-form, #add-catch-form, .filter-card {
    max-width: 80vw;
}

.date-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-input {
    background-color: #f4f4f4;
    padding: 1rem 1.5rem;
    margin: 1.2rem;
    font-size: 18px;
    border-radius: 8px;
}

.submit-btn {
    padding: 20px 80px;
    font-size: 18px;
    color: #f4f4f4;
}

.submit-btn:hover {
    background-color: var(--secondary-color);
    color: black;
}
/* End Add Catch Styling */

/* View Catches Styling */
/* .view-page {
    overflow: auto;
} */

.filter-list {
    text-align: center;
}

.view-display {
    text-align: center;
    padding-bottom: 2rem;
}

.filter-title, .display-title {
    font-size: 2rem;
}

.display-title {
    margin-top: 1.5rem;
}

.info-card {
    width: 50vw;
    margin: .5rem auto;
    padding: 1rem 2rem;
    border-radius: 8px;
    color: #f4f4f4;
    background-color: var(--tertiary-color);
}
/* End View Catches Styling */

/* Media Queries */
/* media query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {}

/* media query for tablets and smaller */
@media screen and (max-width: 768px) {
    body, html {
        font-size: 12px;
        min-width: 100vw;
        /* overflow-y: visible;
        overflow-x: hidden; */
    }

    .title {
        font-size: 2rem;
    }

    .header-link {
        font-size: 20px;
    }

    .main-header {
        min-height: 50px;
    }
}

/*media query for mobile phones and smaller */
@media screen and (max-width: 575px) {
    .btn {
        margin: 1.5rem;
        padding: 20px 72px;
    }

    .header-link {
        font-size: 1.5rem;
    }
}

/* media query for ridiculously small phones because I am paranoid */
@media screen and (max-width: 370px) {
    .header-link {
        font-size: 1rem;
    }
}